
@{
    ViewData["Title"] = Localizer["Cart"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using System.Globalization;
@{
    List<ProductBagViewModel> products = (List<ProductBagViewModel>)ViewBag.Products;
    string culture = (string)ViewBag.Culture;
    decimal shipping = (decimal)ViewBag.Shipping;
    var dCulture = new CultureInfo("en");
}
@section Style{

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
}
<section class="bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="h2 mb-0">@Localizer["Product Cart"]</h1>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-md-end bg-transparent p-0 m-0">
                        <li class="breadcrumb-item">
                            <a class="text-dark" asp-action="Index" asp-controller="Home"><i class="las la-home mr-1"></i>@Localizer["Home"]</a>
                        </li>
                        <li class="breadcrumb-item">@Localizer["Shop"]</li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">@Localizer["Product Cart"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="page-content">

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="cart-table table">
                            <thead>
                                <tr>
                                    <th scope="col">@Localizer["Product"]</th>
                                    <th scope="col">@Localizer["Atributes"]</th>
                                    <th scope="col">@Localizer["Price"]</th>
                                    <th scope="col">@Localizer["Quantity"]</th>
                                    <th scope="col">@Localizer["Delete"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (products != null && products.Count() > 0)
                                {
                                    foreach (var pr in products)
                                    {
                                        <tr class="BProduct" data-id="@pr.ProductId">
                                            <td>
                                                <div class="media align-items-center">
                                                    <a asp-controller="Home" asp-action="Product" asp-route-id="@pr.ProductId">
                                                        <img height="100" src="@(string.IsNullOrEmpty(pr.ImgId)?"//:0":"/home/GetProductImg/"+pr.ImgId)" alt="">
                                                    </a>
                                                    <div class="media-body ml-3">
                                                        <div class="product-title mb-2">
                                                            <a class="link-title" asp-action="Product" asp-controller="Home" asp-route-id="@pr.ProductId">@Html.Raw( pr.Title )</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @if (pr.Atributes != null && pr.Atributes.Count() > 0)
                                                {
                                                    foreach (var atr in pr.Atributes)
                                                    {
                                                        <span class="text-secondary atrVal@((atr.FK_Atribute.Values.Count() == 1 && !atr.FK_Atribute.IsActive)?" d-none":"")" data-id="@atr.Id">@CultureData.GetDefoultName(atr.FK_Atribute.CultureName, culture, atr.FK_Atribute.Name): <b class="TextDarkStyle">@CultureData.GetDefoultName(atr.CultureName, culture, atr.Value)</b></span><br />
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <span class="product-price text-muted">@(((string.IsNullOrEmpty(pr.Sale) || pr.Sale == "0") ? pr.Price : pr.Sale)) <small> @(ViewBag.amd ?? "")</small></span>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-center align-items-center BInfo">
                                                    <button class="btn-product" onclick="$in = $(this).siblings('input'); $in.val(($in.val() - 1) < 1?1:(Number($in.val()) - 1)).trigger('change');">
                                                        <i class="las la-minus"></i>
                                                    </button>
                                                    <input class="form-product @(pr.Quantity>pr.MaxQuantity?"border-danger":"")" type="number" min="1" max="@pr.MaxQuantity" data-sum="@((pr.dSale!=0?pr.dSale:pr.dPrice).ToString().Replace(',','.'))" value="@pr.Quantity">
                                                    <button class="btn-product" onclick="$in = $(this).siblings('input'); $in.val(($in.val() + 1) > $in.attr('max') ? $in.attr('max') : (Number($in.val()) + 1)).trigger('change');">
                                                        <i class="las la-plus"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="deleteProduct btn btn-primary btn-sm ml-5">
                                                    <i class="las la-times"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-md-flex align-items-end justify-content-between border-top pt-5">
                        <div>
                            <label class="text-black h4" for="coupon">@Localizer["Coupon"]</label>
                            <p>@Localizer["Enter your coupon code if you have one."]</p>
                            <div class="row form-row" id="PromoCodeWrap">
                                <div class="col">
                                    <input class="form-control" id="coupon" placeholder="@Localizer["Coupon Code"]" type="text">
                                </div>
                                <div class="col col-auto">
                                    <button class="btn btn-dark btn-animated">@Localizer["Apply Coupon"]</button>
                                </div>
                                <div class="col col-auto">
                                    <p class="text-danger m-0 pl-1" style="line-height:38px;"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pl-lg-5 mt-8 mt-lg-0">
                    <div class="shadow rounded p-5">
                        <h4 class="text-black text-center mb-2">@Localizer["Cart Totals"]</h4>
                        <div class="d-flex justify-content-between align-items-center border-bottom py-3">
                            <span class="text-muted">@Localizer["Subtotal"]</span>  <span id="BagValue" class="text-dark">@(products == null ? "0" : products.Sum(_ => ((_.dSale != 0) ? (_.Quantity * _.dSale) : (_.dPrice * _.Quantity))).ToString("N", dCulture).Replace(".00", string.Empty))</span> <small class="pl-1" style="line-height:24px;"> @(ViewBag.amd ?? "")</small>
                        </div>
                        <div class="d-flex justify-content-between align-items-center border-bottom py-3">
                            <span class="text-muted">@Localizer["Shipping"]</span>  <span id="BagShipping" class="text-dark" data-sum="@shipping.ToString().Replace(',','.')">@shipping.ToString("N", dCulture).Replace(".00", string.Empty)</span> <small class="pl-1" style="line-height:24px;"> @(ViewBag.amd ?? "")</small>
</div>
                        <div class="d-flex justify-content-between align-items-center pt-3 mb-5">
                            <span class="text-dark h5">@Localizer["Total"]</span>  <span class="text-dark font-weight-bold h5" id="BagTotal">@((products == null ? "0" : (shipping + products.Sum(_ => ((_.dSale != 0) ? (_.Quantity * _.dSale) : (_.dPrice * _.Quantity)))).ToString("N", dCulture).Replace(".00", string.Empty)))</span> <small class="pl-1" style="line-height:24px;"> @(ViewBag.amd ?? "")</small>
</div> <a class="btn btn-primary btn-animated btn-block" asp-action="checkout" asp-controller="Home">@Localizer["Proceed To Checkout"]</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $('.BProduct input').change(function () {
                var products = $.cookie("ProductList");
                products = products && JSON.parse(products);
                if (products && products.length > 0) {
                    var prId = $(this).closest('.BProduct').data('id')+"";
                    var atrValIds = $(this).closest('.BProduct').find('.atrVal').map(function () { return $(this).data('id')+""; });
                    for (var i = 0; i < products.length; i++) {
                        if (products[i].id == prId && $(products[i].atrs).not(atrValIds.toArray()).length == 0) {
                            products[i].count = Number(this.value);
                            $.cookie("ProductList", JSON.stringify(products), { expires: 365, path: '/' });
                            prCount = 0;
                            $.each(products, function () { prCount = prCount + this.count; })
                            $('#ShoppingBagWrap small').text(prCount > 99 ? '99+' : prCount);
                            break;
                        }
                    }
                }
                if (Number($(this).val()) > Number($(this).attr('max'))) {
                    $(this).addClass('border-danger');
                }
                else {
                    $(this).removeClass('border-danger');
                }
                UpdateBagSum();
                updateCart()
            });



            $('.deleteProduct').click(function () {
                var products = $.cookie("ProductList");
                products = products && JSON.parse(products);
                if (products && products.length > 0) {
                    var prId = $(this).closest('.BProduct').data('id')+"";
                    var atrValIds = $(this).closest('.BProduct').find('.atrVal').map(function () { return $(this).data('id')+""; });
                    var newProducts = $.grep(products, function (p) { return p.id != prId || $(p.atrs).not(atrValIds.toArray()).length != 0 });
                    if (newProducts.length != products.length) {
                        $.cookie("ProductList", JSON.stringify(newProducts), { expires: 365, path: '/' });
                        prCount = 0;
                        $.each(newProducts, function () { prCount = prCount + this.count; })
                        $('#ShoppingBagWrap small').text(prCount > 99 ? '99+' : prCount);
                    }
                }
                $(this).closest('.BProduct').remove();
                UpdateBagSum();
                updateCart();
            });
            var checkBtnSelected = false;
            $('#CheckoutButton').click(function (e) {
                if ($('.BInfo input.border-danger').length > 0) e.preventDefault();
                if ($("#PromoCodeWrap").data('code') && !checkBtnSelected) {
                    checkBtnSelected = true;
                    $('#CheckoutButton').attr('href', $('#CheckoutButton').attr('href') + "?promoCode=" + $("#PromoCodeWrap").data('code'));
                }
            });

            $('#PromoCodeWrap button').click(function (e) {
                var code = $('#PromoCodeWrap input').val();
                $('#PromoCodeWrap p').empty();
                $('#PromoCodeWrap input').removeClass('bg-success');
                $("#PromoCodeWrap").data('promoSale', 0);
                $("#PromoCodeWrap").data('code', '');
                UpdateBagSum();
                updateCart();
                if (!code || !code.length) { e.preventDefault(); return false; }
                $.ajax({
                    url: "/Home/getPromoCode/?code=" + code,
                    type: "POST",
                    contentType: "application/Json",
                    beforeSend: function () {
                        $('#PromoCodeWrap').append('<div id="AdProductListSpiner" class="text-center float-left"><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></div>');
                    },
                    success: function (data) {
                        $("#AdProductListSpiner").remove();
                        if (data) {
                            if (data.error) {
                                $('#PromoCodeWrap p').text(data.error);
                                e.preventDefault();
                                return false;
                            }
                            else if (data.res) {
                                $('#PromoCodeWrap input').addClass('bg-success');
                                if (Number(data.res)) {
                                    $("#PromoCodeWrap").data('promoSale', Number(data.res));
                                    $("#PromoCodeWrap").data('code', $("#PromoCodeWrap input").val());
                                    UpdateBagSum();
                                    updateCart();
                                }
                            }
                        }
                    }
                });
            });

        });
        function UpdateBagSum() {
            var total = 0;
            var promo = $("#PromoCodeWrap").data('promoSale') ? $("#PromoCodeWrap").data('promoSale') : 0;
            $('.BProduct input').each(function () { total += Number($(this).data('sum')) * Number(this.value); });
            $('#BagValue').text(String((total * (1 - promo / 100)).toFixed(0)).replace(/(.)(?=(\d{3})+$)/g, '$1,'));
            $('#BagTotal').text(String(getShippingSum(Number((total * (1 - promo / 100)))) + Number((total * (1 - promo / 100)).toFixed(0))).replace(/(.)(?=(\d{3})+$)/g, '$1,'));
        }
        function getShippingSum(orderSum) {
            if (Number(orderSum) >@((int)ViewBag.ShippingOrderSum)) {
                $('#BagShipping').text(String(@((int)ViewBag.shippingWhenMore)).replace(/(.)(?=(\d{3})+$)/g, '$1,'));
                return @((int)ViewBag.shippingWhenMore);
            }
            $('#BagShipping').text(String(@((int)ViewBag.shippingWhenLess)).replace(/(.)(?=(\d{3})+$)/g, '$1,'));
            return @((int)ViewBag.shippingWhenLess);
        }
    </script>
}